{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block navbar %}
    {% include 'partials/navbar.html.twig' with {showDivider: false} %}
{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    {% include 'partials/alert_box.html.twig' %}
    <form method="post" id="login-form" class="basic-form form-colors-custom form-floating">
        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <h1 class="m-title">Log in</h1>
        <div class="form-floating">
            <input type="text" value="{{ last_username }}" name="mail" id="inputMail" class="form-control"
                   autocomplete="username" placeholder="Mail" required autofocus>
            <label for="inputMail">Mail</label>
        </div>
        <div class="form-floating">
            <input type="password" name="password" id="inputPassword" class="form-control"
                   autocomplete="current-password" placeholder="Password" required>
            <label for="inputPassword">Password</label>
        </div>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

        {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
        #}

        <button class="btn-submit" type="submit">
            Sign in
        </button>
        <p class="center"><a class="link fw-normal" href="{{ path('forgotten_password') }}">Forgot your password ?</a></p>
    </form>
{% endblock %}

{% block scripts_end_body %}
    {{ encore_entry_script_tags('login') }}
{% endblock %}