{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    {% include 'partials/alert_box.html.twig' %}
    <h2>Password reset</h2>
    {% form_theme resetPasswordForm 'form/form_errors.html.twig' %}
    {{ form_start(resetPasswordForm, {'attr': {'class': 'basic-form form-colors-custom', 'id': 'reset_password_form'}}) }}
    {% for resetPasswordField in resetPasswordForm %}
        {% if resetPasswordField.vars.name != '_token' %}
        <div>
            {{ form_label(resetPasswordField) }}
            {{ form_widget(resetPasswordField) }}
            {{ form_errors(resetPasswordField) }}
        </div>
        {% endif %}
    {% endfor %}
    <button class="btn-submit" type="submit">Send</button>
    {{ form_end(resetPasswordForm) }}
{% endblock %}

{% block scripts_end_body %}
    {{ encore_entry_script_tags('reset-password') }}
{% endblock %}