{% extends 'base.html.twig' %}

{% block header %}
    {% include 'partials/header_trick.html.twig' %}
{% endblock %}

{% block javascripts %}
    <script src="https://www.youtube.com/iframe_api"></script>
{% endblock %}

{% block content %}
    <section class="tricks-section">
        {% for trickImage in trickImages %}
            <img class="image-trick-details" src="{{ path(
                'get_trick_image',
                {'groupName': nomGroupeTrick, 'trickName': trick.nom,'imageName': trickImage.fileName}
            ) }}" alt="image {{ trick.description }}">
        {% endfor %}
        {% for trickVideo in trickVideos %}
            <iframe class="trick-video" src="{{ trickVideo.url }}" frameborder="0"
                    allowfullscreen></iframe>
        {% endfor %}
        <div class="trick-detail-description">
            <h2>Description</h2>
            <p>
                {{ trick.description }}
            </p>
            <div class="trick-informations">
                <div class="trick-informations-item">Groupe : {{ nomGroupeTrick }}</div>
                <div class="trick-informations-item">Créé le : {{ trick.dateCreation|date("M j, Y \\a\\t H:i") }}</div>
                {% if trick.dateModification is not empty %}
                    <div class="trick-informations-item">Modifié le
                        : {{ trick.dateModification|date("M j, Y \\a\\t H:i") }}</div>
                {% endif %}
            </div>
        </div>
    </section>
    <section id="comment-section" class="comment-section">
        <h2>Commentaires</h2>
        <form class="comment-form" action="">
            <textarea aria-label="commentaire" name="myTextarea" placeholder="Votre commentaire" cols="55" rows="5"
                      minlength="10"
                      maxlength="500" required></textarea>
            <button type="submit" class="btn-arrow--black btn-comment">Valider</button>
        </form>
        <div class="comment-list">
            {% for comment in comments %}
                <div class="comment">
                    <i class="fa-solid fa-circle-user icon-user"></i>
                    <div>
                        <p class="comment-user-info">
                            {{ comment.nomUtilisateur }}
                            <span class="small">
                            - {{ comment.data.dateCreation|date("d/m/Y \\à H:i") }}
                        </span>
                        </p>
                        <p class="comment-text">
                            Ceci est un exemple de commentaire
                        </p>
                    </div>
                </div>
            {% endfor %}
            <div class="comment">
                <i class="fa-solid fa-circle-user icon-user"></i>
                <div class="comment-text-group">
                    <p class="comment-user-info">
                        Pseudo 1
                        <span class="small">
                            - 7 juin 2023 à 14:36
                        </span>
                    </p>
                    <p class="comment-text">
                        Un autre commentaire
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
