{% extends 'base.html.twig' %}

{% block navbar %}
    {% include 'partials/navbar.html.twig' with {showDivider: false, navMargin: ' navbar-margin'} %}
{% endblock %}

{% block header %}
{% endblock %}

{% block scripts_head %}
    <script src="https://www.youtube.com/iframe_api"></script>
{% endblock %}

{% block content %}
    <div class="trick-container">
        {% include 'trick/header_trick.html.twig' %}
        {% if trickImages is not empty %}
            <h2>Images</h2>
            <div class="medias-container">
                {% for trickImage in trickImages %}
                    <img class="image-trick-details" src="{{ path(
                        'get_trick_image',
                        {'trickName': trick.name,'imageName': trickImage.fileName}
                    ) }}" alt="image {{ trick.name }}">
                {% endfor %}
            </div>
        {% endif %}
        {% if trickVideos is not empty %}
            <h2>Videos</h2>
            <div class="medias-container">
                {% for trickVideo in trickVideos %}
                    <iframe class="trick-video" src="{{ trickVideo.url }}" allowfullscreen></iframe>
                {% endfor %}
            </div>
        {% endif %}
        <div class="trick-detail-description">
            <h2>Description</h2>
            <p>
                {{ trick.description }}
            </p>
            <div class="trick-informations">
                <div class="trick-informations-item">Groupe : {{ groupTrickName }}</div>
                <div class="trick-informations-item">Créé le : {{ trick.creationDate|date("M j, Y \\a\\t H:i") }}</div>
                {% if trick.modificationDate is not empty %}
                    <div class="trick-informations-item">Modifié le
                        : {{ trick.modificationDate|date("M j, Y \\a\\t H:i") }}</div>
                {% endif %}
            </div>
        </div>
        {% include 'comment/comment_section.html.twig' with {'hiddeLoadButton': false} %}
    </div>
{% endblock %}

{% block scripts_end_body %}
    {{ encore_entry_script_tags('trick-details') }}
{% endblock %}